<div class="ui" style="text-align: center;padding: 5px;background: black;color: #fff">

    <a class="ui facebook button" href="https://www.facebook.com/profile.php?id=100006524838724" target="_blank">
        <i class="facebook icon"></i>
        Facebook
    </a>
    <a class="ui linkedin button" href="https://www.linkedin.com/in/mandeepkohli1996" target="_blank">
        <i class="linkedin icon"></i>
        LinkedIn
    </a>
    <a class="ui google plus button" href="https://instagram.com/_kohli_mandeep/?hl=en" target="_blank">
        <i class="instagram icon"></i>
        Instagram
    </a>
<h4 class="ui " style="text-align: center;padding: 5px;background: black;color: #fff">Developed By Mandeep Kohli </h4>
</div>
