
<div class="ui top inverted fixed menu borderless">
  <div class="ui container">
    <span class="header item ">
      <!--<img class="logo" src="assets/images/logo.png">-->
      <h4 class="ui ml-0">NEWSFEEDS WITH CHANNEL</h4>
    </span>
    <div class="right menu " style="margin-top: 15px">
      <a class="ui facebook" href="https://www.facebook.com/profile.php?id=100006524838724" target="_blank">
        <i class="facebook icon"></i>
      </a>
      <a class="ui linkedin" href="https://www.linkedin.com/in/mandeepkohli1996" target="_blank">
        <i class="linkedin icon"></i>
      </a>
      <a class="ui google plus" href="https://instagram.com/_kohli_mandeep/?hl=en" target="_blank">
        <i class="instagram icon"></i>
      </a>
    </div>
  </div>
</div>

